.textbook-content {
  margin: 2rem 0;
  padding: 0 1rem;
}

.textbook-content .content-actions {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid var(--ifm-color-emphasis-300);
}

.textbook-content-default {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.textbook-content-wide {
  max-width: none;
  margin-left: 0;
  margin-right: 0;
}